.routeform textarea, .CodeMirror,
.CodeMirror-gutter, .CodeMirror-scroll { height: 300px !important; }

.CodeMirror {
  background: #fff;
}

.routeform .route {
  margin: 0 2px 20px 0;
  background: #f9f9f9;
  border: 1px solid #e8e8e8;
  padding: 15px 10px 5px 10px;
  border-radius: 2px;
  text-shadow: 1px 1px 0 rgba(255,255,255,.3);
  box-shadow: 0px 0px 2px #cccccc;
}

.routeform .route .field {
  margin: 0 0 20px 0;
}

.routeform .route .field:last-child {
  margin: 0;
}

.routeform div.collapsed {
  display: none;
}

.routeform .route .collapse-route:before {
  content: "\25BC";
}

.routeform .route .collapse-route.collapsed::before {
  content: "\25B2";
}

.routeform .route .btn {
  float: right;
  font-size: 18px;
  margin: 0 0 0 3px;
  padding: 2px;
}